// Шрифт
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Переменные
@black: #000;
@white: #fff;
@red: #eb3f32;
@opacity-bg: rgba(255,255,255,0.7);
@grey: #898989;

// Базовые стили

body {
  font-size: 10px;
  font-family: 'Roboto' , sans-serif;
}
section {
  padding: 4rem 0;
}

*:visited, *:active, *:link, *:hover,*:focus {
  outline: none;
}

.title {
  font-size: 4rem;
  color: @white;
  text-align: center;
}

.but {
  width: 100%;
  padding: 1.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: @white;
  background-color: @red;
  border: none;
  border-radius: 10px;
}

.red {
  color: @red;
  font-weight: 700;
}

.top {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,0.95);
  z-index: 100;
}
.top-nav {
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 2rem;
}
.top-nav li {
  display: inline-block;
  text-align: center;
}
.top-nav-item {
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
}
.top-number {
  position: absolute;
  left: 25%;
  font-size: 1.6rem;
}

.down {
  position: relative;
  height: 2rem;
}

.callback {
  width: 20rem;
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: 15px ;
  text-transform: uppercase;
  z-index: 10;
  opacity: 1;
  margin-bottom: 0.3rem;

}


// Стиили основные
// Мэйн
.main {
  background: #fff url(../img/main/main-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &-form {
    width: 100%;

    &-cost {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      color: @grey;
      margin-bottom: 4rem;
    }

    &-text {
      font-size: 1.4rem;
      text-align: center;
      margin-top: 2rem;
    }

    input {
      width: 100%;
      height: 4rem;
      margin-bottom: 3rem;
      border-radius: 10px;
      border: 0.5px solid @black;
      padding: 2rem;
      font-size: 2rem;
    }
  }

  &-block-form {
    margin-top: 15rem;
    width: 100%;
    text-align: center;
    background-color: @opacity-bg;
    padding: 2rem 4rem;
    border-radius: 15px;
  }

  &-sub {
    color: @white;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
  }

  &-cost {
    margin-top: 60vh;
    padding-bottom: 4rem;
    color: @white;
    font-size: 5rem;
  }

  .old {
    text-decoration: line-through;
  }

  .i1{
    width: 60%;
    top: 17rem;
    left: 10rem;
    z-index:10;
  }
  .i2{
    width: 20%;
    top: 27rem;
    left: 2rem;
  }
  .i3{
    width: 70%;
    top: 35rem;
    left: 12rem;
    z-index: 11;
  }

  img {
    position: absolute;
    width: 50%;
  }

  &-title {
    font-size: 5rem;
    text-align: center;
    color: @white;

  }
}

// Комплект
.complect {

  .small {
    width: 10%;
  }
  &-list {
    list-style: none;

    &-item {
      display: inline;
      font-size: 4rem;
      padding: 1rem;
    }

    img {
      width: 21%;
    }
  }
}

// Приемущества
.features {
  background: #fff url(../img/features/bg.jpg) center no-repeat;
  background-size: cover;
   background-attachment: fixed;

  &-left {
    margin: 5rem 5rem;
    text-align: right;
    position: relative;
    background-color: @opacity-bg;
    padding: 6rem 2rem;

    img {
      position: absolute;
      top: 0;
      right: -9rem;
      width: 19rem;
    }
  }

  &-sub-left {
    font-size: 2.6rem;
    text-transform: uppercase;
    margin-right: 10rem;
  }

  &-sub {
    font-size: 2.6rem;
    text-transform: uppercase;
    margin-left: 10rem;

    }
  &-block {
    margin: 5rem 5rem;
    position: relative;
    background-color: @opacity-bg;
    padding: 6rem 2rem;

    img {
      position: absolute;
      top: 0;
      left: -10rem;
      width: 19rem;
    }
  }
}


// Что входит в комплект
.inbox {

  .container-fluid {
    padding: 0;
  }
  h2 {
    background-color: #b2b2b2;
    font-weight: 700;
    margin-bottom: 3rem;
    font-size: 5rem;
  }

  &-block {
    height: 7rem;
    font-size: 3.6rem;
    line-height: 7rem;
    padding-left: 6rem;
    color: @white;
    margin-bottom: 4rem;
    font-weight: 700;
    background-color: #b2b2b2; 
    border-bottom-left-radius: 30px; 
    border-top-left-radius: 30px;
  }

  &-img {
    width: 50%;
    margin-top: 3rem;
  }
}


// Фото
.photo {
  padding: 6rem;
  background: #fff url(../img/photo/bg.jpg) center no-repeat;
  background-size: cover;
   background-attachment: fixed;
  img {
    width: 90%;
    height: 30rem;
    margin-bottom: 3rem;
    box-shadow: 0px 23px 7px 0px rgba(0, 0, 0, 0.35);
  }
}

// Форма большая
.forms {
  padding-bottom: 1rem;
  &-btn {
    width: 30rem;
  }

  input {
    height: 4rem;
    font-size: 2rem;
    margin: 1rem;
    margin-right: 4rem;
    width: 90%;
    padding: 2rem;
  }
  
}

// Видосы
.videos {
  padding-top: 0;
  .title {
    color: @black;
    margin-bottom: 4rem;
  }
  &-item {
    width: 100%;
    box-shadow: 0px 23px 7px 0px rgba(0, 0, 0, 0.35);
  }

  &-text {
    
    margin-top: 2rem;
    padding: 2rem ;
    font-size: 2rem;
    &-down {
    }
  }
}

// Отзывы
.feedback-item {
  padding-right: 2rem;
  margin-bottom: 3rem;
}
.feedback-avatar {
  margin-left: 2rem;
}
.feedback-text {
  display: inline-block;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e3e4e5;
  border-radius: 8px;
}
.feedback-text:before {
  position: absolute;
  top: 0;
  left: 30%;
  border-top-right-radius: 50px;
  display: block;
  content: '';
  width: 2rem;
  height: 2rem;
  background-color: #e3e4e5;
}
.feedback-name {
  color: #1e6dbc;
  margin-top: 3rem;
  margin-right: 4rem;
  font-weight: 700;
}

.feedback-title {
  color: @black;
  padding-bottom: 4rem;
  text-transform: uppercase;
}

// Гарантии
.garant-img {
  max-width: 13rem;
}
.garant-text {
  margin: 2rem 4rem;
  font-size: 1.6rem;
}

.garant-title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

// Акция!
.sell {
  background: #fff url(../img/sell/bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &-img {
    width: 40rem;
    position: absolute;
    top: 0;
    right: 10%;
  }

  &-subtext {
    font-size: 2.6rem;
    line-height: 3rem;
    margin-top: 5rem;
    font-size: 3rem;
  }

  &-text {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5rem;
    .old {
      text-decoration: line-through;
    }
  }

  .padding-none {
    padding: 0;
    margin: 0;
  }

  

  .white-bg {
    background-color: @opacity-bg;
    margin: 7rem 0;
    padding: 4rem 0;
  }

  &-title {
    width: 100%;
    background-color: @white;
    padding: 2rem;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    color: @grey;
    box-shadow: 0px 23px 7px 0px rgba(0, 0, 0, 0.35);
  }
}

// Ответы на часты вопросы
.answer {
  position: relative;
  
  &-left {
    position: absolute;
    left: 0;
    top: 20vh;
  }

  &-right {
    position: absolute;
    right: -1rem ;
    top: 20vh;
  }
  .title {
    color: @grey;
    font-weight: 700;
    margin-bottom: 4rem;
  }
  
  &-text {
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    strong {
      font-size: 2.4rem;
    }
  }

}

// Другие предложения
.anyoffer-item {
  margin-top: 4rem;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 2rem;
}
.anyoffer-item .btn {
  margin: 2rem;
}
.anyoffer-item .cost {
  display: block;
  font-size: 1.8rem;
  color: #d11f1f;
}
.anyoffer-item .speciality {
  font-size: 1.2rem;
}
.anyoffer-item .speciality li {
  line-height: 2rem;
}
.anyoffer-item-img {
  width: 90%;
  margin: 2rem;
  margin-top: 2rem;
}
.anyoffer-item-name {
  margin-top: 0;
  text-transform: uppercase;
}

.anyoffer-title {
  color: @black; 
  margin-bottom: 4rem;
}

// Доставка и оплата
.delivery {
  text-align: center;
}
.delivery-cost {
  border: 1px solid #000000;
  margin: 3rem 3rem;
  padding: 2rem;
  border-radius: 5px;
}
.delivery-cost img {
  max-width: 25rem;
  margin-bottom: 10rem;
}
.delivery-cost-text {
  font-size: 3rem;
  margin-top: 10rem;
}
.delivery-cost-text strong {
  font-size: 4rem;
}
.delivery .nav-tabs {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  top: 6px;
}
.delivery .tab-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px ;
}
.delivery .tab-content #adress {
  padding: 2rem;
}
.delivery .tab-content #adress .adress-img {
  max-width: 53rem;
  margin-top: 2rem;
}
.delivery .tab-content #adress .adress-title {
  margin-top: 0;
}
.delivery .tab-content #adress .adress-text {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.delivery .tab-content #adress .adress-form {
  text-align: left;
  background-color: #f4f4f4;
  padding: 3rem 2rem;
  font-size: 1.6rem;
  width: 100%;
}
 .button-blue {
  padding: 2rem;
  margin-top: 2rem;
  font-size: 2.4rem;
  height: 10rem;
  color: #ffffff;
  border: none;
  background-color: #0909c4;
  border-radius: 10px;
}
.delivery .tab-content #adress .adress-form input {
  margin-bottom: 1rem;
  padding: 2rem;
  padding-left: 1rem;
  height: 3.6rem;
  width: 100%;
  border: 1px solid #007713;
}
.delivery .tab-content #pay {
  padding: 2rem;
  text-align: left;
}
.delivery .tab-content #pay .pay-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.delivery .tab-content #pay .pay-img {
  max-width: 37rem;
}
.delivery .tab-content #pay .pay-text {
  font-size: 1.8rem;
}
.delivery-title {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-weight: 700;
}
.delivery-subtitle {
  font-weight: 700;
}
.delivery-text {
  font-size: 1.8rem;
}
.delivery-text-tab {
  font-size: 1.6rem;
  padding: 3rem 1rem;
  text-align: left;
}

// Футер и карта
.map-title {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.footer .number {
  font-size: 2rem;
}
.footer-btn {
  font-size: 1.6rem;
  padding: 0.8rem;
  width: 17rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #ffffff;
  background-color: #d587ff;
  border-radius: 5px;
  border: 1px solid #000000;
}
.footer span {
  font-size: 1.4rem;
}
.footer-name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.footer-social {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.footer-social img {
  width: 3rem;
}
.footer .dark {
  background-color: #403944;
  padding: 2rem;
}
.footer .ur-inf {
  color: #ffffff;

  line-height: 1.2rem;
}


// Медиа -запросы
@media (min-width: 1251px) {
  .top-nav-item {
    font-size: 2rem;
  }
  .top-nav li {
    padding: 2rem;
  }
}
@media (max-width: 1250px) {
  .top-nav-item {
    font-size: 1.6rem;
  }
  .top-nav li {
    padding: 1.4rem;
  }
}
@media (max-width: 1200px) {
  .top-nav-item {
    font-size: 1.5rem;
  }
  .top-nav li {
    padding: 1rem;
  }

  .callback {
    font-size: 1.2rem;
  }
}
@media (max-width: 1080px) {
  .top-nav-item {
    font-size: 1.4rem;
  }
  .top-nav li {
    padding: 0.8rem;
  }
}
